<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Gonzalo's Test">
    <listeners>
        <listener class-name="testcomponents.Listeners"/>
    </listeners>
    <test thread-count="5" name="Regretion">
        <classes>
            <class name="tests.StandAloneTestJson">
            </class>
        </classes>
    </test>


</suite>